<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="basics">
      <section name="core" type="Basics.Config.CoreSection, Basics" />
    </sectionGroup>
  </configSections>

  <basics>
    <core>
      <container builder="Basics.Containers.Autofac.AutofacContainerBuilder, Basics.Containers.Autofac">
      </container>
    </core>
  </basics>
  
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>